:root {
    --primary-text-color-footer: #ffffff;
    --primary-bg-color-footer: #06071b;
    --footer-font-weight-title: 700;
    --footer-font-weight-text: 500;

    --primary-bg-color: #06071B;
    --primary-light-color: #ffffff;
    --primary-dark-color: #000000;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: var(--footer-font-weight-text);
}

/**
  |============================
  | BASE-STYLES
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}


.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-sherif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

/**
  |============================
  | HEADER
  |============================
*/
.header {
    background-color: var(--primary-bg-color);
    /* position: relative; */
}

.head-nav {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 1280px;
    padding: 0 16px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);

    justify-content: space-between;
    align-items: baseline;
    color: var(--primary-light-color);

    background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%,
            rgba(181, 68, 254, 0.3) 89.43%);

}

.head-logo {
    display: block;
    padding: 18px 0;

    font-weight: 400;
    font-size: 28px;
    line-height: 1.21;

}

.head-list {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: right;
    align-items: center;

    /* align-items: start; */
    gap: 40px;
}

.head-list .link {
    display: block;
    padding-top: 29px;
    padding-bottom: 28px;

}

/**
  |============================
  | hero
  |============================
*/

.hero {
    color: var(--primary-light-color);
    padding-top: 243px;
    padding-bottom: 146px;
    position: relative;

    background-color: var(--primary-bg-color);
    /* background: linear-gradient (0deg, 
    rgba(0, 197, 235, 0.5),
            rgba(0, 197, 235, 0.5)), #D9D9D9; */
    background-image:
        url("../images/hero/charter.png"),
        url("../images/hero/bell.png"),
        url("../images/hero/calendar.png"),
        url("../images/hero/wave.png"),
        url("../images/hero/clock.png"),
        url("../images/hero/message.png"),
        url("../images/hero/tool.png");

    background-position: 373px 565px, 339px 432px,
        472px 389px, 517px 287px, 644px 295px,
        685px 227px, 803px 261px;

    background-repeat: no-repeat;

}

.hero-head {

    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;

}

.hero-text {
    margin-top: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.hero-list {
    margin-top: 28px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.hero-item:not(:first-child) {
    margin-top: 14px;
}

.hero-item::before {
    content: ">";
}

.hero-button {
    margin-top: 62px;

    width: 200px;
    height: 42px;
    display: block;

    color: var(--primary-light-color);
    background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
    border-radius: 5px;
}

.hero-button:hover {
    background: none;
}

.hero-button:active {
    background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.hero-mobile {
    position: absolute;
    bottom: -14%;
    right: 0;

}


/**
  |============================
  | KEY FEATURES
  |============================
*/


/**
  |============================
  | WATCH THE VIDEO
  |============================
*/


/**
  |============================
  | OUR TEAM
  |============================
*/


/**
  |============================
  | WHAT OUR COSTUMERS SAY
  |============================
*/


/**
  |============================
  | FOOTER
  |============================
*/
.footer-section {
    color: var(--primary-text-color-footer);
    background-color: var(--primary-bg-color-footer);
}

.footer-title {
    font-weight: var(--title-font-weight-title);
    font-size: 24px;
    line-height: 1.21;
}

.footer-subtitle {
    font-size: 24px;
    line-height: 1.21;
}

.footer-text {
    font-size: 16px;
    line-height: 19px;
}

.footer-link {
    font-size: 14px;
    line-height: 17px;
}

.footer-phone {
    font-size: 16px;
    line-height: 19px;
}

.footer-mail {
    font-size: 14px;
    line-height: 17px;
}

.footer-copyright {
    font-size: 14px;
    line-height: 17px;
}