:root {
    --primary-text-color-footer: #ffffff;
    --primary-bg-color-footer: #06071b;
    --footer-font-weight-title: 700;
    --footer-font-weight-text: 500;

    --primary-bg-color: #06071B;



}

body {
    font-family: "Inter", sans-serif;
    font-weight: var(--footer-font-weight-text);
}

/**
  |============================
  | BASE-STYLES
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}


.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-sherif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

/**
  |============================
  | HEADER
  |============================
*/
.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.head-logo {
    display: block;
    padding: 18px 0;

    font-weight: 400;
    font-size: 28px;
    line-height: 1.21;

    outline: 2px solid tomato;
}

.head-list {
    display: flex;
    justify-content: right;
    align-items: center;

    /* align-items: start; */
    gap: 40px;
}

.head-list .link {
    display: block;
    padding-top: 29px;
    padding-bottom: 28px;

    outline: 2px solid tomato;
}

/**
  |============================
  | hero
  |============================
*/

.hero {
    background-color: var(--primary-dark-color);

}


/**
  |============================
  | KEY FEATURES
  |============================
*/


/**
  |============================
  | WATCH THE VIDEO
  |============================
*/


/**
  |============================
  | OUR TEAM
  |============================
*/


/**
  |============================
  | WHAT OUR COSTUMERS SAY
  |============================
*/


/**
  |============================
  | FOOTER
  |============================
*/
.footer-section {
    color: var(--primary-text-color-footer);
    background-color: var(--primary-bg-color-footer);
}

.footer-title {
    font-weight: var(--title-font-weight-title);
    font-size: 24px;
    line-height: 1.21;
}

.footer-subtitle {
    font-size: 24px;
    line-height: 1.21;
}

.footer-text {
    font-size: 16px;
    line-height: 19px;
}

.footer-link {
    font-size: 14px;
    line-height: 17px;
}

.footer-phone {
    font-size: 16px;
    line-height: 19px;
}

.footer-mail {
    font-size: 14px;
    line-height: 17px;
}

.footer-copyright {
    font-size: 14px;
    line-height: 17px;
}